<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <div class="nav mb-20">
            <a href="/" class="text-blue-500">Back to Home</a>
        </div>
        <h1 class="text-3xl tracking-tighter mb-3">All Users</h1>

        <div class="users flex  gap-3 flex-wrap">
            <% if(allusers.length>0){ %>
                <% allusers.forEach(function(user){ %>
                    <div class="user w-72 p-5 bg-zinc-800 rounded-lg">
                        <div class="w-full h-52 bg-zinc-500 rounded-lg overflow-hidden">
                            <img class="w-full h-full object-cover object-top" src="<%= user.image %>" alt="">
                        </div>
                        <h3 class="text-xl tracking-tighter mt-5"><%= user.name %></h3>
                        <h5 class="text-zinc-500"><%= user.email %></h5>
                        <div class="flex gap-30 mt-10">
                            <a href="/edit/<%= user._id %>" class="text-zinc-200">EditUser</a>
                            <a href="/delete/<%= user._id %>" class="text-red-500 ml-5">DeleteUser</a>
                        </div>
        
                    </div>
                <%  }) %>
            <% } else { %>
              <h3 class="text-zinc-500">No Users Yet..</h3>
                
            <% }%>
        </div>
    </div>
</body>
</html>